body {
    background-color: rgb(26, 25, 25);
    font: calc(0.40rem + 1vmin) monospace;
}

.title {
    color: rgb(175, 169, 169);
    font-size: 40px;
    margin-bottom: 15px;
}

.link-text:hover {
    color: rgb(83, 83, 83);
}

.subtitle {
    color: rgb(175, 169, 169);
    margin-top: 2px;
    font-size: 17px;
    margin-left: 5px;
}

.text {
    color: rgb(175, 169, 169);
    font-size: 20px;
}

.box-1 {
    margin: 0 auto;
    width: 700px;
    padding-top: 50px;
}

::selection {
  color: white;
  background: rgb(37, 39, 43);
}

.website-box {
  background-color: rgb(39, 37, 37);
  padding: 30px;
  margin-bottom: 10px;
}

.website-title {
    color: rgb(175, 169, 169);
    margin-top: 2px;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.website-description {
    color: rgb(175, 169, 169);
    margin-top: 2px;
    font-size: 18px;
}